-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "category" (
    "category_id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "category_name" VARCHAR(50) NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "is_active" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "category_pkey" PRIMARY KEY ("category_id")
);

-- CreateTable
CREATE TABLE "expenses" (
    "expense_id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "paid_by" UUID NOT NULL,
    "expense_type" VARCHAR(100) NOT NULL,
    "expense_name" VARCHAR(100) NOT NULL,
    "expense_amount" DECIMAL(10,4) NOT NULL,
    "payment_method" VARCHAR(20) NOT NULL,
    "expense_date" DATE NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "is_active" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "expenses_pkey" PRIMARY KEY ("expense_id")
);

-- CreateTable
CREATE TABLE "inventory" (
    "inventory_id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "product_id" UUID NOT NULL,
    "remaining_quantity" DECIMAL(10,4) NOT NULL,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "inventory_pkey" PRIMARY KEY ("inventory_id")
);

-- CreateTable
CREATE TABLE "inventory_log" (
    "log_id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "product_id" UUID NOT NULL,
    "change_quantity" DECIMAL(10,4) NOT NULL,
    "change_type" VARCHAR(10) NOT NULL,
    "reason" VARCHAR(30) NOT NULL,
    "reference_type" VARCHAR(255),
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "inventory_log_pkey" PRIMARY KEY ("log_id")
);

-- CreateTable
CREATE TABLE "ledger" (
    "ledger_id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "party_id" UUID NOT NULL,
    "transaction_type" VARCHAR(20) NOT NULL,
    "reference_id" UUID NOT NULL,
    "credit" DECIMAL(10,4) NOT NULL,
    "debit" DECIMAL(10,4) NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ledger_pkey" PRIMARY KEY ("ledger_id")
);

-- CreateTable
CREATE TABLE "party" (
    "party_id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "party_name" VARCHAR(50) NOT NULL,
    "party_address" VARCHAR(60) NOT NULL,
    "party_contact" VARCHAR(30) NOT NULL,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "party_pkey" PRIMARY KEY ("party_id")
);

-- CreateTable
CREATE TABLE "party_role" (
    "party_role_id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "party_id" UUID NOT NULL,
    "role" VARCHAR(50) NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "party_role_pkey" PRIMARY KEY ("party_role_id")
);

-- CreateTable
CREATE TABLE "payment" (
    "payment_id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "party_id" UUID,
    "staff_id" UUID,
    "payment_type" VARCHAR(20) NOT NULL,
    "payment_method" VARCHAR(20) NOT NULL,
    "amount" DECIMAL(10,4) NOT NULL,
    "reference_note" VARCHAR(200) NOT NULL,
    "payment_date" DATE NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "payment_pkey" PRIMARY KEY ("payment_id")
);

-- CreateTable
CREATE TABLE "product" (
    "product_id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "category_id" UUID NOT NULL,
    "product_name" VARCHAR(100) NOT NULL,
    "selling_price" DECIMAL(10,4) NOT NULL,
    "unit" VARCHAR(20) NOT NULL,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "product_pkey" PRIMARY KEY ("product_id")
);

-- CreateTable
CREATE TABLE "purchase" (
    "purchase_id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "party_id" UUID NOT NULL,
    "created_by" UUID NOT NULL,
    "purchase_type" VARCHAR(20) NOT NULL,
    "purchase_date" DATE NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "purchase_pkey" PRIMARY KEY ("purchase_id")
);

-- CreateTable
CREATE TABLE "purchase_item" (
    "purchase_item_id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "purchase_id" UUID NOT NULL,
    "product_id" UUID NOT NULL,
    "expiry_date" DATE,
    "product_quantity" DECIMAL(10,4) NOT NULL,
    "purchase_price" DECIMAL(10,4) NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "purchase_item_pkey" PRIMARY KEY ("purchase_item_id")
);

-- CreateTable
CREATE TABLE "sale" (
    "sales_id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "party_id" UUID NOT NULL,
    "sales_by" UUID NOT NULL,
    "sales_type" VARCHAR(20) NOT NULL,
    "sales_date" DATE NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "status" VARCHAR(20) NOT NULL DEFAULT 'ACTIVE',

    CONSTRAINT "sale_pkey" PRIMARY KEY ("sales_id")
);

-- CreateTable
CREATE TABLE "sale_item" (
    "sale_item_id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "sales_id" UUID NOT NULL,
    "product_id" UUID NOT NULL,
    "sales_quantity" DECIMAL(10,4) NOT NULL,
    "sales_price" DECIMAL(10,4) NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "sale_item_pkey" PRIMARY KEY ("sale_item_id")
);

-- CreateTable
CREATE TABLE "staff" (
    "staff_id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "staff_name" VARCHAR(50) NOT NULL,
    "staff_role" VARCHAR(50) NOT NULL,
    "staff_contact" VARCHAR(30) NOT NULL,
    "staff_email" VARCHAR(100),
    "staff_salary" DECIMAL(10,4) NOT NULL,
    "staff_joining_date" DATE NOT NULL,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "staff_pkey" PRIMARY KEY ("staff_id")
);

-- CreateTable
CREATE TABLE "system_users" (
    "system_user_id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "staff_id" UUID NOT NULL,
    "system_user_name" VARCHAR(30) NOT NULL,
    "system_user_email" VARCHAR(100),
    "system_user_password_hash" VARCHAR(255) NOT NULL,
    "user_role" VARCHAR(20) NOT NULL,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "system_users_pkey" PRIMARY KEY ("system_user_id")
);

-- CreateIndex
CREATE UNIQUE INDEX "category_category_name_key" ON "category"("category_name");

-- CreateIndex
CREATE UNIQUE INDEX "inventory_product_id_key" ON "inventory"("product_id");

-- CreateIndex
CREATE UNIQUE INDEX "party_party_contact_key" ON "party"("party_contact");

-- CreateIndex
CREATE UNIQUE INDEX "party_role_party_id_role_key" ON "party_role"("party_id", "role");

-- CreateIndex
CREATE UNIQUE INDEX "staff_staff_contact_key" ON "staff"("staff_contact");

-- CreateIndex
CREATE UNIQUE INDEX "staff_staff_email_key" ON "staff"("staff_email");

-- CreateIndex
CREATE UNIQUE INDEX "system_users_staff_id_key" ON "system_users"("staff_id");

-- CreateIndex
CREATE UNIQUE INDEX "system_users_system_user_name_key" ON "system_users"("system_user_name");

-- CreateIndex
CREATE UNIQUE INDEX "system_users_system_user_email_key" ON "system_users"("system_user_email");

-- AddForeignKey
ALTER TABLE "expenses" ADD CONSTRAINT "expenses_paid_by_fkey" FOREIGN KEY ("paid_by") REFERENCES "staff"("staff_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "inventory" ADD CONSTRAINT "inventory_product_id_fkey" FOREIGN KEY ("product_id") REFERENCES "product"("product_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "inventory_log" ADD CONSTRAINT "inventory_log_product_id_fkey" FOREIGN KEY ("product_id") REFERENCES "product"("product_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "ledger" ADD CONSTRAINT "ledger_party_id_fkey" FOREIGN KEY ("party_id") REFERENCES "party"("party_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "party_role" ADD CONSTRAINT "party_role_party_id_fkey" FOREIGN KEY ("party_id") REFERENCES "party"("party_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "payment" ADD CONSTRAINT "payment_party_id_fkey" FOREIGN KEY ("party_id") REFERENCES "party"("party_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "payment" ADD CONSTRAINT "payment_staff_id_fkey" FOREIGN KEY ("staff_id") REFERENCES "staff"("staff_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "product" ADD CONSTRAINT "product_category_id_fkey" FOREIGN KEY ("category_id") REFERENCES "category"("category_id") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "purchase" ADD CONSTRAINT "purchase_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "staff"("staff_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "purchase" ADD CONSTRAINT "purchase_party_id_fkey" FOREIGN KEY ("party_id") REFERENCES "party"("party_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "purchase_item" ADD CONSTRAINT "purchase_item_product_id_fkey" FOREIGN KEY ("product_id") REFERENCES "product"("product_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "purchase_item" ADD CONSTRAINT "purchase_item_purchase_id_fkey" FOREIGN KEY ("purchase_id") REFERENCES "purchase"("purchase_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "sale" ADD CONSTRAINT "sale_party_id_fkey" FOREIGN KEY ("party_id") REFERENCES "party"("party_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "sale" ADD CONSTRAINT "sale_sales_by_fkey" FOREIGN KEY ("sales_by") REFERENCES "staff"("staff_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "sale_item" ADD CONSTRAINT "sale_item_product_id_fkey" FOREIGN KEY ("product_id") REFERENCES "product"("product_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "sale_item" ADD CONSTRAINT "sale_item_sales_id_fkey" FOREIGN KEY ("sales_id") REFERENCES "sale"("sales_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "system_users" ADD CONSTRAINT "system_users_staff_id_fkey" FOREIGN KEY ("staff_id") REFERENCES "staff"("staff_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

